.main[b-kryesyjnmw] {
    display: grid;
    grid-template-rows: [display] 4fr [controls] 1fr;
    width: 95%;
    height: 95%;
    margin: auto;
}

.box[b-kryesyjnmw] {
    #border: black dotted 5px;
}

.top[b-kryesyjnmw] {
    grid-row: display;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.pingAlias[b-kryesyjnmw]{
    background-color: #13bda0;
    width: 10%;
    text-align: center;
    border-radius: 10px;
    border: black solid 5px;
    padding-top: 10px;
    margin: auto;
}

.bottom[b-kryesyjnmw] {
    grid-row: controls;
    display: grid;
    grid-template-columns: [left] 1fr [right] 2fr;
}

.controlGrid[b-kryesyjnmw] {
    grid-column: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.controlForm[b-kryesyjnmw]{
    display: flex;
    justify-content: center;
}

.controlButton[b-kryesyjnmw] {
    width: 50%;
}

.authGrid[b-kryesyjnmw] {
    grid-column: left;
    display: grid;
    grid-template-columns: [left] 1fr [right] 1fr
}
.authForms[b-kryesyjnmw]{
    grid-column: left;
}
.authFormSection[b-kryesyjnmw]{
    display: flex;
    justify-content: center;
    margin: 3%;
 }
.authResult[b-kryesyjnmw] {
    grid-column: right;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    justify-self: center;
}

.ipDisplay[b-kryesyjnmw] {
    background-color: #bfc9b3;
    padding: 5% 20%;
    border-radius: 35%;
    text-align: center;
    margin: auto;
    font-family: Arial, serif;
    font-size: 500%;
    border: black solid 5px;
}

.buttonStyle[b-kryesyjnmw] {
    background-color: #13bda0;
    padding: 5% 10%;
}

    .buttonStyle:hover[b-kryesyjnmw] {
        background-color: #19ffd9;
    }

    .buttonStyle:active[b-kryesyjnmw] {
        background-color: #ff1919;
    }

.successState[b-kryesyjnmw] {
    background-color: green;
    font-family: Arial, serif;
    font-size: 300%;
}

.failureState[b-kryesyjnmw] {
    background-color: red;
    font-family: Arial, serif;
    font-size: 300%;
}
